<div class="column">
    <h2>To Do</h2>
    <ul>
        {% for task in tasks %}
            {% if task.status == 1 %}
                <li>
                    <strong>Title:</strong> {{ task.title }}<br>
                    <strong>Description:</strong> {{ task.description }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="column">
    <h2>In Progress</h2>
    <ul>
        {% for task in tasks %}
            {% if task.status == 2 %}
                <li>
                    <strong>Title:</strong> {{ task.title }}<br>
                    <strong>Description:</strong> {{ task.description }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="column">
    <h2>Done</h2>
    <ul>
        {% for task in tasks %}
            {% if task.status == 3 %}
                <li>
                    <strong>Title:</strong> {{ task.title }}<br>
                    <strong>Description:</strong> {{ task.description }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>