<!-- edit_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h2>Edit Profile</h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile_ra' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>

    <a href="{% url 'profile-view-rauser' %}">Back to Profile</a>

</body>
</html>
