<!-- edit_profile.html -->
<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static "accounts/edit-profile.css" %}">

<head>
    <title>Edit Resident Profile</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom blue-gradient-background">
            <h1>Edit User Profile</h1>
        </header>

        <div class="d-flex justify-content-center align-items-center">
            <form class="form-container" method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mr-2">Save Changes</button>
                <a href="{% url 'profile-view' %}" class="btn btn-secondary">Back to Profile</a>
            </form>
        </div>
    </div>
</body>
</html>
