{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Chatroom</title>
    <p>Task ID: {{ task.id }}</p>
    <script src="https://unpkg.com/htmx.org"></script> <!-- Include htmx -->
    <link rel="stylesheet" type="text/css" href="{% static "accounts/openTicket.css" %}">
</head>
<body>
    <div class="left-container">
            {% if task %}
            <div hx-get="{% url 'chat_message_fetch' task.id %}" hx-trigger="every 5s" hx-swap="outerHTML">
                
                <p>Test</p>
            </div>
            {% else %}
                <p>Task not found.</p>
            {% endif %}

            <form id="message-form" hx-post="{% url 'chat_message_send' task.id %}" hx-target="#chat-box" hx-swap="outerHTML">
                {% csrf_token %}
                <input type="text" id="message-input" name="message" required placeholder="Type a message...">
                <button type="submit">Send</button>
            </form>

            <script>
                document.getElementById('message-form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    htmx.trigger("#message-form", "submit");
                });
            </script>
        </div>

        <div class="right-container">
            <h2>Work Notes</h2>
            <ul>
                {% for annotation in annotations %}
                    <li>
                        <strong>{{ annotation.author.username }}</strong> - {{ annotation.annotations }} ({{ annotation.date_posted }})
                    </li>
                {% empty %}
                    <li>No work notes available.</li>
                {% endfor %}
            </ul>
    </div>
</body>
</html>
{% endblock %}