<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>RA User Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static "accounts/profile-view.css" %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> RA User Profile</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <span class="navbar-text">
                        Welcome, {{ user.rauser.ra_name }}
                    </span>
                {% endif %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_ticket' %}">
                            <span class="navbar-text">
                                Create Ticket
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trello_board' %}">
                            <span class="navbar-text">
                                View Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span class="navbar-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Username: {{ user.username }}</h2>
                        {% if user.rauser.image %}
                            <img class="img-fluid" id="customImageSize" src="{{ user.rauser.image.url }}" alt="Profile Picture">
                        {% endif %}
                        <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile_ra' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                        <button type="submit">Edit Picture</button>
                        </form>
                        <p><strong>Full Name:</strong> {{ user.rauser.ra_name }}</p>
                        <p><strong>Role:</strong> Staff
  
                        </p>
                        <p><strong>Additional Information:</strong></p>
                        <ul>
                            <li><p><strong>Email:</strong> {{ user.rauser.ra_email }}</p></li>
                            <li><p><strong>Room Number:</strong> {{ user.rauser.room_number }}</p></li>
                            <li><p><strong>Phone Number:</strong> {{ user.rauser.phone_number }}</p></li>
                            <li><p><strong>Floor:</strong> {{ user.rauser.floor }}</p></li>
                            
                            <li><p><strong>Last Login:</strong> {{ user.last_login }}</p></li>
                            <li><p><strong>Date Registered:</strong> {{ user.date_joined }}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Your Open Tasks</h2>
                        <ul>
                            {% for task in tasks %}
                            <li style="padding: 10px">
                                <strong>Title:</strong> {{ task.title }}<br>
                                <strong>Resident:</strong> {{ task.resident.residentName }}<br>
                                <strong>Description:</strong> {{ task.description }}<br>
                                <strong>Priority:</strong> {{ task.priority }}<br>
                                <strong>Date Posted:</strong> {{ task.date_posted }}<br>
                                <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <a href="{% url 'logout' %}" class="btn btn-primary">Sign Out</a>
            <a href="{% url 'create_ticket' %}" class="btn btn-primary">Create Ticket</a>
            <a href="{% url 'trello_board' %}" class="btn btn-primary">View Dashboard</a>
        </div>
    </div>

</body>
</html>