{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
<link rel="stylesheet" type="text/css" href="{% static "accounts/residentDashboard.css" %}">

<body>
<div class="header">
    <h1>ReziBo Resident Dashboard</h1>
</div>

<div class="container">
    <div class="column columnborders">
        <h2 class="status-heading">
            Open Tickets
        </h2>
        <ul id="todo-tasks" class="task-list">
            {% for task in tasks %}
                {% if task.status == 1 or task.status == 2 or task.status == 3 or task.status == 4 %}
                    <div class="dropdown">
                        <button class="dropbtn">Created Tickets</button>
                        <div class="dropdown-content">
                            
                        </div>
                    </div>                
                    <li id="task-{{ task.id }}" class="taskborders">
                        <strong>Title:</strong> {{ task.title }}<br>
                        <strong>Description:</strong> <span class="desc" id="desc-{{ task.id }}">{{ task.description }}</span><br>
                        <button class="toggle-button" data-target="desc-{{ task.id }}">Toggle</button>
                    </li>
                {% endif %}
            {% empty %}
                <li>No tasks found for this category.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="column columnborders">
        <h2 class="status-heading">
            Previous Tickets
        </h2>
        <ul id="in-progress" class="task-list">
            {% for task in tasks %}
                {% if task.status == 2 %}
                <div class="dropdown">
                    <button class="dropbtn">Open</button>
                    <div class="dropdown-content">
                        <button class="move-task" data-task-id="{{ task.id }}" data-new-status="1">To Do</button>
                        <button class="move-task" data-task-id="{{ task.id }}" data-new-status="3">On Hold</button>
                        <button class="move-task" data-task-id="{{ task.id }}" data-new-status="4">Done</button>
                    </div>
                </div>
                    <li id="task-{{ task.id }}" class="taskborders">
                        <strong>Title:</strong> {{ task.title }}<br>
                        <strong>Description:</strong> <span class="desc" id="desc-{{ task.id }}">{{ task.description }}</span><br>
                        <button class="toggle-button" data-target="desc-{{ task.id }}">Toggle</button>
                    </li>
                {% endif %}
            {% empty %}
                <li>No tasks found for this category.</li>
            {% endfor %}
        </ul>
    </div>

<div class="logout">
    <a href="{% url 'logout' %}" class="button">Sign Out</a>
</div>
    

</body>
</html>

{% endblock %}
