{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
<link rel="stylesheet" type="text/css" href="{% static "accounts/residentDashboard.css" %}">

<head>
    <title> {% block title %} Resident Dashboard {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> ReziBo Resident Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <span class="navbar-text">
                        Welcome, {{ user.residentuser.residentName }}
                    </span>
                {% endif %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile-view' %}">
                            <span class="navbar-text">
                                View Profile
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_ticket' %}">
                            <span class="navbar-text">
                                Create Ticket
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span class="navbar-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-column py-3">  
        {% include 'registration/task_list.html' %}
    </div>
    
    <div class="flex-container">
        <a href="{% url 'logout' %}" class="btn btn-primary">Sign Out</a>
        <a href="{% url 'create_ticket' %}" class="btn btn-primary">Create Ticket</a>
    </div>

<script>
    function toggleDetails(taskId) {
        var details = document.getElementById("details-" + taskId);
        if (details.style.display === "none") {
            details.style.display = "block";
        } else {
            details.style.display = "none";
        }
    }
</script>

</body>
</html>

{% endblock %}