{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
<link rel="stylesheet" type="text/css" href="{% static "accounts/residentDashboard.css" %}">

<head>
    <title> {% block title %} Login {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
  


<body>
    <div class="header">
        <h1 class = "bg-secondary text-white text-center p-3" >ReziBo Resident Dashboard</h1>
        <a href="{% url 'profile-view' %}">
    <img src="{% static "user.png" %}" alt="Profile Icon" id="profile-icon" style="width: 55px; height: 55px; float: right; margin-top: -50px;"> </a> 
    </div>

    <div class="d-flex flex-column align-items-center py-3">
        <div class="bg-white border border-1 rounded p-2 w-100 column">
            <h2 class="status-heading">
                Open Tickets
            </h2>
            <ul id="Open Tickets" class="task-list">
                {% for task in tasks %}
                    {% if task.status == 1 or task.status == 2 or task.status == 3 %}
                        <li id="task-{{ task.id }}" class="taskborders">
                            <strong>Title:</strong> {{ task.title }}<br>
                            <button onclick="toggleDetails({{ task.id }})">
                                Open Ticket Details
                            </button>

                            <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>

                            <div id="details-{{ task.id }}" style="display: none;">
                                <strong>Description:</strong> {{ task.description }}<br>
                                <strong>Status:</strong> {{ task.get_status_display }}<br>
                                <strong>Priority:</strong> {{ task.get_priority_display }}<br>
                                <strong>Date Posted:</strong> {{ task.date_posted }}<br>
                            </div>
                        </li>
                    {% endif %}
                {% empty %}
                    <li>No tasks found for this category.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="bg-white border border-1 rounded p-2 w-100 column">
            <h2 class="status-heading">
                Previous Tickets
            </h2>
            <ul id="Done" class="task-list">
                {% for task in tasks %}
                    {% if task.status == 4 %}
                        <li id="task-{{ task.id }}" class="taskborders">
                            <strong>Title:</strong> {{ task.title }}<br>
                            <button onclick="toggleDetails({{ task.id }})">
                                Open Ticket Details
                            </button>

                            <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>

                            <div id="details-{{ task.id }}" style="display: none;">
                                <strong>Description:</strong> {{ task.description }}<br>
                                <strong>Status:</strong> {{ task.get_status_display }}<br>
                                <strong>Priority:</strong> {{ task.get_priority_display }}<br>
                                <strong>Date Posted:</strong> {{ task.date_posted }}<br>
                            </div>
                        </li>
                    {% endif %}
                {% empty %}
                    <li>No tasks found for this category.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="flex-container">
        <a href="{% url 'logout' %}" class="btn btn-primary">Sign Out</a>
        <a href="{% url 'create_ticket' %}" class="btn btn-primary">Create Ticket</a>
    </div>

<script>
    function toggleDetails(taskId) {
        var details = document.getElementById("details-" + taskId);
        if (details.style.display === "none") {
            details.style.display = "block";
        } else {
            details.style.display = "none";
        }
    }
</script>

</body>
</html>

{% endblock %}