{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<html>
  <link rel="stylesheet" type="text/css" href="{% static "accounts/signup.css" %}">

  <head>
    <title>Sign Up</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <div class = "container">
    <h2>ReziBo Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
  </div>
</html>
{% endblock %}
