{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/ticketform.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom blue-gradient-background">
        <h1>Create Ticket</h1>
    </header>

    <form method="post" class="container" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Submit</button>
    </form>

    <div class="navigation">
        <a href="{% url 'resident_dashboard' %}" class="button">Previous</a>
    </div>

    <div class="logout">
        <a href="{% url 'logout' %}" class="button">Sign Out</a>
    </div>
</body>

</html>

{% endblock %}
