{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReziBo Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static "accounts/trello.css" %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url("{% static 'proj_pic.jpg' %}"); 
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ReziBo RA Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <span class="navbar-text">
                        Welcome, {{ user.rauser.ra_name }}
                    </span>
                {% endif %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile-view' %}">
                            <span class="navbar-text">
                                View Profile
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span class="navbar-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- Time Selector Form -->
<div class="col-auto">
    <form method="get" id="dateForm" class="form-inline">
        <!-- Floor Selector -->
        <label for="floor">Select Floor: </label>
        <select id="floor" name="floor">
            <option value="">All Floors</option>
            {% for floor in floors %}
            <option value="{{ floor }}" {% if floor == selected_floor %}selected{% endif %}>{{ floor }}</option>
            {% endfor %}
        </select>

        <!-- Month Selector -->
        <label for="month">Select Month: </label>
        <select id="month" name="month" onchange="updateWeeks()">
            <option value="">Select Month</option>
            {% for i in months %}
            <option value="{{ i }}" {% if request.GET.month == i|stringformat:"02d" %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>

        <!-- Week Selector -->
        <label for="week">Select Week: </label>
        <select id="week" name="week">
            <!-- Weeks will be added by JavaScript -->
        </select>

        <!-- Filter Button -->
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<!-- Main container-->
<div class="container-fluid">
    <div class="row">
        <!-- To Do Column -->
        <div class="col-md-3">
            <h2>To Do</h2>
            <div class="list-group">
                <ul id="to-do" class="task-list">
                    {% for task in tasks %}
                        {% if task.status == 1 %}
                            <div class="dropdown">
                                <button class="dropbtn">Move to...</button>
                                <div class="dropdown-content">
                                    <button class="move-task" data-task-id="{{ task.id }}" data-new-status="2">In Progress</button>
                                    <button class="move-task" data-task-id="{{ task.id }}" data-new-status="3">On Hold</button>
                                    <button class="move-task" data-task-id="{{ task.id }}" data-new-status="4">Done</button>
                                </div>
                            </div>                
                            <li id="task-{{ task.id }}" class="taskborders">
                                <strong>Title:</strong> {{ task.title }}<br>
                                <div class="task-details" id="details-{{ task.id }}" style="display: none;">
                                    <strong>Description:</strong> <span class="desc">{{ task.description }}</span><br>
                                    <strong>Resdient:</strong> <span class="resdient">{{ task.resident.residentName }}</span><br>
                                    <strong>Room Number:</strong> <span class="floor_num">{{ task.resident.room_number}}</span><br>
                                    <strong>Priority:</strong> <span class="priority">{{ task.priority }}</span><br>
                                    <strong>Deadline:</strong> <span class="deadline">{{ task.task_deadline }}</span><br>
                                </div>
                                <button class="toggle-button" data-target="details-{{ task.id }}">Toggle</button>
                                <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>
                            </li>
                        {% endif %}
                    {% empty %}
                        <li>No tasks found for this category.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <h2 class="status-heading">
                In Progress
            </h2>
            <div class="list-group">
                <ul id="in-progress" class="task-list">
                    {% for task in tasks %}
                        {% if task.status == 2 %}
                        <div class="dropdown">
                            <button class="dropbtn">Move to...</button>
                            <div class="dropdown-content">
                                <button class="move-task" data-task-id="{{ task.id }}" data-new-status="1">To Do</button>
                                <button class="move-task" data-task-id="{{ task.id }}" data-new-status="3">On Hold</button>
                                <button class="move-task" data-task-id="{{ task.id }}" data-new-status="4">Done</button>
                            </div>
                        </div>
                        <li id="task-{{ task.id }}" class="taskborders">
                            <strong>Title:</strong> {{ task.title }}<br>
                            <div class="task-details" id="details-{{ task.id }}" style="display: none;">
                                <strong>Description:</strong> <span class="desc">{{ task.description }}</span><br>
                                <strong>Resdient:</strong> <span class="resdient">{{ task.resident.residentName }}</span><br>
                                <strong>Room Number:</strong> <span class="floor_num">{{ task.resident.room_number}}</span><br>
                                <strong>Priority:</strong> <span class="priority">{{ task.priority }}</span><br>
                                <strong>Deadline:</strong> <span class="deadline">{{ task.task_deadline }}</span><br>
                            </div>
                            <button class="toggle-button" data-target="details-{{ task.id }}">Toggle</button>
                            <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>
                        </li>
                        {% endif %}
                    {% empty %}
                        <li>No tasks found for this category.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <h2 class="status-heading">
                On Hold
            </h2>
            <div class="list-group">
                <ul id="on-hold" class="task-list">
                {% for task in tasks %}
                    {% if task.status == 3 %}
                    <div class="dropdown">
                        <button class="dropbtn">Move to...</button>
                        <div class="dropdown-content">
                            <button class="move-task" data-task-id="{{ task.id }}" data-new-status="1">To Do</button>
                            <button class="move-task" data-task-id="{{ task.id }}" data-new-status="2">In Progress</button>
                            <button class="move-task" data-task-id="{{ task.id }}" data-new-status="4">Done</button>
                        </div>
                    </div>
                    <li id="task-{{ task.id }}" class="taskborders">
                        <strong>Title:</strong> {{ task.title }}<br>
                        <div class="task-details" id="details-{{ task.id }}" style="display: none;">
                            <strong>Description:</strong> <span class="desc">{{ task.description }}</span><br>
                            <strong>Resdient:</strong> <span class="resdient">{{ task.resident.residentName }}</span><br>
                            <strong>Room Number:</strong> <span class="floor_num">{{ task.resident.room_number}}</span><br>
                            <strong>Priority:</strong> <span class="priority">{{ task.priority }}</span><br>
                            <strong>Deadline:</strong> <span class="deadline">{{ task.task_deadline }}</span><br>
                        </div>
                        <button class="toggle-button" data-target="details-{{ task.id }}">Toggle</button>
                        <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>
                    </li>
                    {% endif %}
                {% empty %}
                    <li>No tasks found for this category.</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <h2 class="status-heading">
                    Done
                </h2>
            </div>
            <div class="list-group">
                <ul id="done" class="task-list">
                    {% for task in tasks %}
                        {% if task.status == 4 %}
                        <div class="dropdown">
                            <button class="dropbtn">Move to...</button>
                            <div class="dropdown-content">
                                <button class="move-task" data-task-id="{{ task.id }}" data-new-status="1">To Do</button>
                                <button class="move-task" data-task-id="{{ task.id }}" data-new-status="2">In Progress</button>
                                <button class="move-task" data-task-id="{{ task.id }}" data-new-status="3">On Hold</button>
                            </div>
                        </div>
                        <li id="task-{{ task.id }}" class="taskborders">
                            <strong>Title:</strong> {{ task.title }}<br>
                            <div class="task-details" id="details-{{ task.id }}" style="display: none;">
                                <strong>Description:</strong> <span class="desc">{{ task.description }}</span><br>
                                <strong>Resdient:</strong> <span class="resdient">{{ task.resident.residentName }}</span><br>
                                <strong>Room Number:</strong> <span class="floor_num">{{ task.resident.room_number}}</span><br>
                                <strong>Priority:</strong> <span class="priority">{{ task.priority }}</span><br>
                                <strong>Deadline:</strong> <span class="deadline">{{ task.task_deadline }}</span><br>
                            </div>
                            <button class="toggle-button" data-target="details-{{ task.id }}">Toggle</button>
                            <button onclick="window.location.href='{% url 'open_ticket' task.id %}'">View Timeline</button>
                        </li>
                        {% endif %}
                    {% empty %}
                        <li>No tasks found for this category.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <a href="{% url 'logout' %}" class="btn btn-primary">Sign Out</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButtons = document.querySelectorAll('.toggle-button');
    
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                const targetId = button.getAttribute('data-target');
                const detailsDiv = document.getElementById(targetId);
                
                if (detailsDiv.style.display === "none" || detailsDiv.style.display === "") {
                    detailsDiv.style.display = "block";
                } else {
                    detailsDiv.style.display = "none";
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        const moveTaskButtons = document.querySelectorAll('.move-task');
        moveTaskButtons.forEach(button => {
            button.addEventListener('click', function() {
                const taskId = button.getAttribute('data-task-id');
                const newStatus = button.getAttribute('data-new-status');
                fetch(`{% url 'move_task' %}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({ task_id: taskId, new_status: newStatus }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Remove the task from the "To Do" column
                        const taskElement = document.getElementById(`task-${taskId}`);
                        taskElement.remove();
                        location.reload();
                    }
                })
                .catch(error => console.log('Error:', error));
            });
            
        });
    });

   </script>
<script>
    function getWeeksInMonth(month, year) {
        var weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();
    
        var start = 1;
        var end = 7 - firstDate.getDay();
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }
    
    function updateWeeks() {
        var monthSelect = document.getElementById('month');
        var weekSelect = document.getElementById('week');
        var selectedMonth = monthSelect.value - 1; // JS months are 0-indexed
        var year = new Date().getFullYear(); // You might want to dynamically set the year too
    
        var weeks = getWeeksInMonth(selectedMonth, year);
        weekSelect.innerHTML = ''; // Clear previous options
    
        weeks.forEach(function(week, index) {
            var option = document.createElement('option');
            option.value = index + 1;
            option.text = 'Week ' + (index + 1) + ' (' + week.start + ' - ' + week.end + ')';
            weekSelect.appendChild(option);
        });
    
        if (weeks.length > 0) {
            weekSelect.disabled = false;
        } else {
            weekSelect.disabled = true;
        }
    }
    
    // Initialize weeks on page load if month is already selected
    if (document.getElementById('month').value) {
        updateWeeks();
    }
    </script>
</body>
</html>
{% endblock %}
