body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif; 
}

.header h1 {
    text-align: center;    
    color: #000000; 
    margin-top: 20px;
    margin-bottom: 40px; 
    font-size: 2.5rem; 
}

.blue-gradient-background {
    color: #ffffff;
    padding: 1em 0;
    background: linear-gradient(to right, #53c3e9, #92dfdf);
    text-align: center;
    border-bottom: 2px solid #B0C4DE; /* Soft border at the bottom */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Optional: Adds some spacing inside the header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.container {
    max-width: 400px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-custom-blue {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    border-color: #0056b3; /* Darker border on hover */
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

/* Style for the buttons */
.btn-sm {
    font-size: 0.875rem; /* Adjust the font size as needed */
}

.subheading {
    text-align: center;
    color: #333; /* Adjust the color as needed */
    background-color: #f2f2f2;
    margin-bottom: 20px; /* Add margin as needed */
}