body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    color: #ffffff;
    padding: 1em 0;
    background: linear-gradient(to right, #53c3e9, #92dfdf);
    text-align: center;
    border-bottom: 2px solid #B0C4DE; /* Soft border at the bottom */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Optional: Adds some spacing inside the header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.row-align-items-center {
    background-color: #D6E4F0; /* A softer, lighter blue */
    color: #333333; /* Darker text for contrast */
}
.column {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px; /* Added for spacing between columns */
}

.columnborders {
    border: 2px solid black;
}

.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.taskborders {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

.status-heading {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column, .task-list, .logout, .button .create_ticket{
        width: 100%;
    }
}

.open-ticket-btn {
    background-color: #a5d2f7; /* Soft blue */
    color: rgb(0, 0, 0);
    padding: 4px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-ticket-btn:hover {
    background-color: #5B9BD5; /* A bit darker on hover */
}

/* Style for 'View Timeline' button */
.view-timeline-btn {
    background-color: #a5d2f7; /* Slightly darker blue */
    color: rgb(0, 0, 0);
    padding: 4px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-timeline-btn:hover {
    background-color: #a0b6f7; /* Even darker on hover */
}