/* accounts/ticketform.css */

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use the full height of the viewport */
    margin: 0; /* Remove default margin */
}

.header {
    text-align: center;    
    color: #000000; 
    margin-top: 20px;
    margin-bottom: 40px; 
    font-size: 2.5rem; 
}

.blue-gradient-background {
    color: #ffffff;
    padding: 1em 0;
    background: linear-gradient(to right, #53c3e9, #92dfdf);
    text-align: center;
    border-bottom: 2px solid #B0C4DE; /* Soft border at the bottom */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Optional: Adds some spacing inside the header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.button-custom-blue {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #9dc6f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #81b3e9;
    border-color: #0056b3; /* Darker border on hover */
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

/* Style for the buttons */
.btn-sm {
    font-size: 0.875rem;
}

/* Additional styling for ticket submission */
.header {
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.navigation,
.logout {
    text-align: center;
    margin-top: 20px;
}

.navigation a,
.logout a {
    display: block;
    margin-top: 10px;
}
