 .container {
    display: flex;
}
 .task-list {
    display: block;
}

 .column {
    flex: 1;
    margin: 10px;
}

 ul {
    list-style-type: none;
    padding: 0;
}

 li {
    margin-bottom: 10px;
}

body {
    margin: 0; 
    padding: 0; 
    background: linear-gradient(to right, #fdfdfd, #92dfdf);
}

.header {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1em 0;
    background: linear-gradient(to right, #53c3e9, #92dfdf);
    text-align: center;
    border-bottom: 2px solid #B0C4DE; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.status-heading {
    text-align: center;
    background: linear-gradient(to right, #53c3e9, #92dfdf);
    border: 1px solid #B0C4DE;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    background-color: #f0f0f0;
    margin: 10px auto;
}

h1 {
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.columnborders {
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
    border-radius: 20px;
}

.taskborders {
    background-color: #FFF;
    border-radius: 10px; 
}
 .time-selector {
    padding: 5px 5px;
 }
.desc {
    display: none;
}

.dropbtn {
    background-color: #b4c0c4;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }

 .dropbtn:hover, .dropbtn:focus {
    background-color: #b4c0c4;
}
  
 .dropdown {
    position: relative;
    display: inline-block;
}
  
 .dropdown-content {
    display: none;
    position: absolute;
    top: 0;  /* This will align it with the top of the main button */
    left: 100%;  /* This will move it to the right side of the main button */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
}
  
.dropdown-content button {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  
 .dropdown-content button:hover {
    background-color: #ddd
}
  
 .dropdown:hover .dropdown-content {
    display: block;
}


.profile-icon {
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 5px;
}

.logout {
    padding: 10px;
    margin-left: auto;
    float: right;
}
