 .container {
    display: flex;
}
 .task-list {
    display: block;
}

 .column {
    flex: 1;
    margin: 10px;
}

 ul {
    list-style-type: none;
    padding: 0;
}

 li {
    margin-bottom: 10px;
}
.header {
    background-color: #f8f9fa; 
    padding: 10px 0; 
    text-align: center; 
    border-bottom: 1px solid #e1e4e8; /* Faint line at the bottom */
}

h1 {
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.columnborders {
    border: 2px solid gray;
    background-color: #f0f0f0;
    border-radius: 10px; 
}

.taskborders {
    background-color: #FFF;
    border-radius: 10px; 
}



