 .container {
    display: flex;
}
 .task-list {
    display: block;
}

 .column {
    flex: 1;
    margin: 10px;
}

 ul {
    list-style-type: none;
    padding: 0;
}

 li {
    margin-bottom: 10px;
}