{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Howdy meowdy {{ user.username }}!!!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <a href="{% url 'text_entry' %}">Enter Some Text!</a>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

<div id="todo-container">
  <h2>To Do</h2>
  {% for task in tasks %}
      {% if task.status == 1 %}
          <div class="task" id="{{ task.id }}">
              <p>{{ task.title }}</p>
              <p>{{ task.description }}</p>
          </div>
      {% endif %}
  {% endfor %}
</div>

<div id="inprogress-container">
  <h2>In Progress</h2>
  {% for task in tasks %}
      {% if task.status == 2 %}
          <div class="task" id="{{ task.id }}">
              <p>{{ task.title }}</p>
              <p>{{ task.description }}</p>
          </div>
      {% endif %}
  {% endfor %}
</div>

<div id="done-container">
  <h2>Done</h2>
  {% for task in tasks %}
      {% if task.status == 3 %}
          <div class="task" id="{{ task.id }}">
              <p>{{ task.title }}</p>
              <p>{{ task.description }}</p>
          </div>
      {% endif %}
  {% endfor %}
</div>